include *.py
exclude bootstrap.py

exclude MANIFEST.in

include .gitignore
exclude .gitignore

include *.yml
exclude .travis.yml

include *.rst
include .coveragerc
include buildout.cfg
include tox.ini
recursive-include src *.rst
